{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page.
 * - logo: The path to the logo image, as defined in theme settings.
 * - site_name: The name of the site.
 * - site_slogan: The slogan of the site.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node.
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.content: The main content of the current page.
 * - page.page_top: Items for the page top region.
 * - page.page_bottom: Items for the page bottom region.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{{ page.page_top }}

{# Header region #}
{% if page.header %}
  <header role="banner" class="border-b">
    <div class="container mx-auto px-4">
      {{ page.header }}
    </div>
  </header>
{% endif %}

{# Primary menu region #}
{% if page.primary_menu %}
  <nav role="navigation" aria-label="Primary menu">
    <div class="container mx-auto px-4">
      {{ page.primary_menu }}
    </div>
  </nav>
{% endif %}

{# Main Content Area #}
<main id="main-content" role="main">
  <div class="container mx-auto px-4 py-8">
    {# Status messages #}
    {% if messages %}
      <div class="mb-4">
        {{ messages }}
      </div>
    {% endif %}

    {{ page.content }}
  </div>
</main>

{# Footer region #}
{% if page.footer %}
  <footer role="contentinfo" class="border-t mt-8">
    <div class="container mx-auto px-4 py-8">
      {{ page.footer }}
    </div>
  </footer>
{% endif %}

{{ page.page_bottom }}
