{#
/**
 * @file
 * Theme override to display a single page using Single Directory Components.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page.
 * - logo: The path to the logo image, as defined in theme settings.
 * - site_name: The name of the site.
 * - site_slogan: The slogan of the site.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node.
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{{ include('tailwind:navbar') }}

{% set container_class = node ? 'max-w-4xl' : 'max-w-7xl' %}

{% if page.header %}
  {{ include('tailwind:page-title', {
    content: page.header,
    container_class: container_class,
    date_iso: node and node.bundle == 'blog_post' and node.created.value ? node.created.value|date('Y-m-d') : null,
    date_formatted: node and node.bundle == 'blog_post' and node.created.value ? node.created.value|date('F j, Y') : null
  }) }}
{% endif %}

{# Main Content Area - Simplified to ensure content renders #}
<main id="main-content" role="main" class="bg-primary-800/30 min-h-screen">
  <div class="{{ container_class }} mx-auto px-4 sm:px-6 lg:px-8 py-8 md:py-12">
    {# Status messages #}
    {% if messages %}
      <div class="mb-4">
        {{ messages }}
      </div>
    {% endif %}

    {{ page.content }}
  </div>
</main>

{# Footer region #}
{% if page.footer %}
  {{ page.footer }}
{% endif %}

{% include('@tailwind/footer.html.twig') %}
